{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" class="header-logo-link" aria-label="{{ meta.siteName }} home">
                <img class="header-logo-icon" src="/img/logo-icon.png" alt="">
                <img class="header-logo-text" src="/img/logo-text.png" alt="{{ meta.siteName }}">
            </a>
        </div>
        <div class="navbar-actions">
            {% if settings.dgEnableSearch === true%}
                {% include "components/searchButton.njk" %}
            {%endif%}
            {% include "components/lockButton.njk" %}
            {% include "components/themeToggle.njk" %}
        </div>
    </nav>
    {%else%}
    <div class="empty-navbar">
        <div class="navbar-actions">
            {% if settings.dgEnableSearch === true%}
                {% include "components/searchButton.njk" %}
            {%endif%}
            {% include "components/lockButton.njk" %}
            {% include "components/themeToggle.njk" %}
        </div>
    </div>
{%endif%}
