---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ meta.siteBaseUrl }}/</loc>
        <lastmod>{{ meta.buildDate | dateToZulu }}</lastmod>
    </url>
    {% for page in collections.blog | notHidden %}
    <url>
        <loc>{{ meta.siteBaseUrl }}{{ page.url | url }}</loc>
        <lastmod>{% if page.data.updated %}{{ page.data.updated | dateToZulu }}{% else %}{{ page.date | dateToZulu }}{% endif %}</lastmod>
    </url>
    {% endfor %}
</urlset>
